body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 300px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 500px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

input[type="email"]:hover,
input[type="password"]:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

input[type="button"]:hover {
  cursor: pointer;
}

input[type="button"]:active {
  background: rgba(255, 255, 255, 0.1);
}

input::placeholder {
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
